/*
 * This Source Code Form is subject to the terms of the Mozilla Public License,
 * v. 2.0. If a copy of the MPL was not distributed with this file, You can
 * obtain one at http://mozilla.org/MPL/2.0/
 *
 * Copyright (C) 2006-2022, Peter Johnson (www.delphidabbler.com).
 *
 * Application's resources.
 */


/* Template for displaying highlighted HTML fragments */
FRAGMENTTPLT RCDATA "Assets\fragment-tplt.html"

/* Program's icon */
MAINICON ICON "Assets\MainIcon.ico"

/* Manifest file */
1 24 "Assets\PasHiGUI.manifest"

/* Data file containing version information data for PasHi and PasHiGUI */
VERSION_DATA RCDATA "..\..\VERSION"
