/*
 * This Source Code Form is subject to the terms of the Mozilla Public License,
 * v. 2.0. If a copy of the MPL was not distributed with this file, You can
 * obtain one at http://mozilla.org/MPL/2.0/
 *
 * Copyright (C) 2006-2012, Peter Johnson (www.delphidabbler.com).
 *
 * $Rev$
 * $Date$
 *
 * Application's resources.
 */


/* Template for displaying higfhlighted HTML fragments */
FRAGMENTTPLT RCDATA "Resources\fragment-tplt.html"

/* Program's icon */
MAINICON ICON "Resources/MainIcon.ico"

/* Manifest file for themed UI and execution level */
1 24 Resources\PasHiGUI.manifest
