/*
 * This Source Code Form is subject to the terms of the Mozilla Public License,
 * v. 2.0. If a copy of the MPL was not distributed with this file, You can
 * obtain one at http://mozilla.org/MPL/2.0/
 *
 * Copyright (C) 2005-2012, Peter Johnson (www.delphidabbler.com).
 *
 * $Rev$
 * $Date$
 *
 * Resource file for PasHi.
 */


/* Main icon */
MAINICON ICON Assets\PasHi.ico

/* Vista manifest file */
1 24 Assets\PasHi.manifest

/* Default CSS */
CSS_DEFAULT RCDATA Assets\Default.css

